.amazon-link {
  height: 8rem;
  width: 13rem;
}

.bg-dark {
  background-color: #1B313F !important;
}

.btn-lg {
  padding: 1rem 1rem;
  width: 100%;
  line-height: 1.4;
}

.btn-primary {
  background-color: #D94E4F;
  border-color: #D94E4F;
  margin-bottom: .5rem;
}

.btn-primary:hover {
  background-color: #1B313F;
  border-color: #1B313F;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #1B313F;
  border-color: #1B313F;
}

.btn-primary:focus {
  color: #fff;
  background-color: #1B313F;
  border-color: #1B313F;
  box-shadow: 0 0 0 0.2rem #1B313F;
}

.btn-secondary {
  background-color: #1B313F;
  border-color: #1B313F;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.btn-secondary:hover {
  background-color: #21C8C8;
  border-color: #21C8C8;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #21C8C8;
  border-color: #21C8C8;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #21C8C8;
  border-color: #21C8C8;
  box-shadow: 0 0 0 0.2rem #21C8C8;
}

.col-md-4 .card {
  height: 315px;
}

.collapse {
  margin-bottom: 1rem;
}

.corp-list {
  margin: auto;
  text-align: left;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}

.homebg {
  background: url('./assets/images/homebg.png') no-repeat;
  background-size: contain;
}
@media (min-width: 1943px) {
  .homebg {
    background-size: cover;
  }
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: transparent !important;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.list-group-item {
  background-color: transparent;
  border: none;
  color: #1B313F;
}

.nav-color {
  background-color: #D94E4F;
}

.offer {
  width: 100%;
  height: 100%;
  margin: auto;
}

.provision {
  font-size: 1rem;
  font-weight: 300;
}

.public {
  font-family: 'Trebuchet MS';
}

.public-link {
  color: white;
}

.public-link p {
  margin-bottom: 0;
}

.public-link:hover {
  color: white;
  text-decoration: none;
}

.schedule {
  background-color: #fff;
}

.social-links {
  height: 8rem;
  width: 5rem;
}

.table thead th {
  background-color: #1B313F;
  color: #fff;
}

.text-muted {
  color: #1B313F !important;
}
